body {
    margin: 20px;
    font-family: fantasy ;
}
.avatar {
    width: 150px;
}

.card {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: #e0fbfc;
    color: #2b2839;
    border-bottom: 6px solid #98c1d9;
    filter:drop-shadow(5px 2px 4px #3d5a80)
}
.border-blue {
    border: 1px dotted blue;
}


